/* You can add global styles to this file, and also import other style files */
ul {
  list-style-type: none;
}

li {
  padding: 4px 0;
}

li.selected {
  color: blue;
  background: skyblue;
}

li:hover {
  background: lightgray;
}

.error-message {
  background: red;
  color: white;
  padding: 4px;
}

div.navbar {
  display: flex;
  flex-flow: row wrap
}
div.navbar a {
  padding: 4px;
}

input.search {
  font-size: 20px;
}

input.play {
  font-size: 20px;
}

tr {
  vertical-align: top;
}
